{{!-- 
    Dark magenta-bluish: #423788 (background + highlighted text in white background)
    White: #ffffff (text + selected buttons)
    Non-selected buttons: #c2bfe2
    Pink: #fd6191

    font-family: "Comic Sans MS", "Comic Sans", cursive; 
 --}}

{{!-- TODO: formatarea paginii --}}
<h2>Pașii pentru crearea și integrarea unui sistem de recompense în cadrul site-ului dumneavoastră:</h2>

<h3>Crearea unui sistem:</h3>
<p>1. Creați-vă un cont pe platforma noastră accesând această pagină</p>
<p>imagine</p>
<p>2. Autentificați-vă în contul dumneavoastră folosind această pagină</p>
<p>imagine</p>
<p>3. Intrați pe profilul dumnavoastră</p>
<p>imagine</p>
<p>4. Intrați pe pagina de creare a unui sistem</p>
<p>imagine</p>
<p>” PASI + IMAGINI REFERITOARE LA PAGINA DE CREARE A UNUI SISTEM ”</p>

<h3>Integrarea unui sistem:</h3>
<p>1. După ce v-ați creat un sistem de recompense, veți primi o cheie API</p>
<p>imagine</p>
<p>2. De fiecare dată când un eveniment setat de dumneavoastră se petrece veți trimite o cerere de tip POST către platforma noastră</p>
<p>imagine</p>
<p>3. De fiecare dată când doriti să accesați informații legate de sistemul de recompense ale dumneavoastră veți trimite o cerere de tip GET către platforma noastră</p>
<p>imagine</p>