<div id="body-div">
    <div>
        <h2>Pașii pentru crearea și integrarea unui sistem de recompense în cadrul site-ului dumneavoastră</h2>
    </div>

    <div>
        <h3>I. Crearea unui sistem</h3>
    </div>

    <p>1. Creați-vă un cont pe platforma noastră accesând această pagină.</p>
    <p>2. Autentificați-vă în contul dumneavoastră folosind această pagină.</p>
    <p>3. Intrați pe profilul dumnavoastră.</p>
    <p>4. Intrați pe pagina de creare a unui sistem.</p>

    <div>
        <h3>II. Integrarea unui sistem</h3>
    </div>

    <p>1. După ce v-ați creat un sistem de recompense, veți primi o cheie API.</p>
    <p>2. De fiecare dată când un eveniment setat de dumneavoastră se petrece veți trimite o cerere de tip POST/PUT către platforma noastră.</p>
    <p style="text-indent: 3em; color: #958ed9;">localhost:8081/external/gamification-system?apikey={CHEIE_API}</p>
    <p style="text-indent: 3em; color: #958ed9;">Request Body: userId={ID_UTILIZATOR}&eventName={NUME_EVENIMENT}</p>
    <p>3. De fiecare dată când doriti să accesați informații legate de sistemul de recompense ale dumneavoastră veți trimite o cerere de tip GET către platforma noastră.</p>
    <p style="text-indent: 3em; color: #958ed9;">localhost:8081/external/gamification-system?apikey={CHEIE_API}&userId={ID_UTILIZATOR}</p>
    <p>4. De fiecare dată când doriti să accesați informații legate de topul utilizatorilor veți trimite o cerere de tip GET către platforma noastră.</p>
    <p style="text-indent: 3em; color: #958ed9;">localhost:8081/external/gamification-system/top-users?apikey={CHEIE_API}</p>
    <p>5. Când doriți să eliminați o anumită recompensă oferită unui anumit utilizator, veți trimite o cerere de tip DELETE către platforma noastră.</p>
    <p style="text-indent: 3em; color: #958ed9;">localhost:8081/external/gamification-system?apikey={CHEIE_API}</p>
    <p style="text-indent: 3em; color: #958ed9;">Request Body: userId={ID_UTILIZATOR}&rewardName={NUME_EVENIMENT}</p>

    <div></div>
</div>