{{!-- 
    Dark magenta-bluish: #423788 (background + highlighted text in white background)
    White: #ffffff (text + selected buttons)
    Non-selected buttons: #c2bfe2
    Pink: #fd6191

    font-family: "Comic Sans MS", "Comic Sans", cursive; 
 --}}
 
<div id="body-div">
    <h2>Error {{statusCode}}: {{statusCodeMessage}}</h2>
    <h3>{{errorMessage}}</h3>
    <p>Te rugăm sa revii la <a href="/">pagina principală</a>.</p>
</div>