<div class="container">
    <span>
        Creează un sistem de recompense!
    </span>
    <div class="card-form">
        <form>
            <p>Selectează tipul de recompensă!</p>
            <input type="radio" id="badge" name="alegere">
            <label for="badge">Badge</label> <br>
            <input type="radio" id="levels" name="alegere">
            <label for="levels">Nivele</label> <br>
            <label for="name" id="nume-rec">Nume recompensă:</label> <br>
            <input type="text" id="name" name="recompensă">
            <br>
        </form>
    </div>
    <div class="add">
        <button type="button"> +</button>
    </div>
</div>


