<header>
    <p>HERE COMES THE HEADER: navbar, login/register, icon maybe, etc.</p> 
    <button type="button" onclick="location.href = '/login'">Autentificare</button>
    <button type="button" onclick="location.href = '/register'">Inregistrare</button>
</header>