<div id="body-div">
    {{!-- TODO: Make form work (method POST/GET ? + action) --}}
    <form method="get" action="/">
        <label for="email">Adresa de email:</label>
        <input type="text" id="email" name="email"> 
        <br>
        <label for="password">Parola:</label>
        <input type="password" id="password" name="password">
        <br>

        <div>
            <input type="submit" value="Autentifcă-te">
        </div>
    </form>
</div>