{{!-- 
    Dark magenta-bluish: #423788 (background + highlighted text in white background)
    White: #ffffff (text + selected buttons)
    Non-selected buttons: #c2bfe2
    Pink: #fd6191

    font-family: "Comic Sans MS", "Comic Sans", cursive; 
 --}}

{{!-- TODO: Fill the informations with the right data after a request --}}
 <div id="body-div">
     <div id="container-div">
        <div id="left-part-div">
            <div class="left-part-row-div">
                <img alt="" src="/images/profile-icon.png" style="width: 35px; margin-right: 0.3em;">
                <button class="left-part-row-selected-button" type="button" onclick="onProfileMenuButtonClick()">PROFILUL MEU</button>
            </div>

            <div class="horizontal-line"></div>

            <div class="left-part-row-div">
                <img alt="" src="/images/settings-icon.png" style="width: 35px; margin-right: 0.3em;">
                <button class="left-part-row-button" type="button" onclick="onSettingsMenuButtonClick()">SETĂRI CONT</button>
            </div>

            <div class="horizontal-line"></div>

            {{!-- TODO: Create action for logout button --}}
            <div class="left-part-row-div">
                <img alt="" src="/images/logout-icon.png" style="width: 30px; margin-right: 0.3em;">
                <button class="left-part-row-button" type="button" onclick="/">DEAUTENTIFICARE</button>
            </div>
        </div>

        <div id="vertical-line"></div>

        <div id="right-part-div">
            <div id="profile-menu-div">
                <div class="profile-menu-row">
                    <img alt="" src="/images/profile-icon.png" style="width: 35px;">
                    <h2>Ion Ionescu</h2>
                </div>
                 
                <div class="profile-menu-row">
                    <img alt="" src="/images/url-icon.png" style="width: 35px;">
                    <h3><a href="https://www.google.com/">https://www.google.com/</a></h3>
                </div>

                <div id="profile-menu-horizontal-line"></div>

                {{!-- TODO: Routing to the gamification system overview/edit page --}}
                {{!-- TODO: in pagina sistemului de recompense => save (la create si update) + optiune de delete la update --}}
                <div id="profile-gamification-row">
                    <div class="profile-gamification-card" onclick="">
                        <img alt="" src="/images/gamification-system-icon.png" style="width: 45px;">
                        <p>Gamification System 1</p>
                    </div>
                    <div class="profile-gamification-card" onclick="">
                        <img alt="" src="/images/gamification-system-icon.png" style="width: 45px;">
                        <p>Gamification System 2</p>
                    </div>
                    <div class="profile-gamification-card" onclick="">
                        <img alt="" src="/images/gamification-system-icon.png" style="width: 45px;">
                        <p>Gamification System 3</p>
                    </div>
                </div>
            </div>
                
            <div id="settings-menu-div">
                <div class="settings-menu-row">
                    <h2>Modifică adresa site-ului web</h2>

                    {{!-- TODO: POST/PUT (update) the url --}}
                    <form method="put" action="/profile">
                        <input type="text" id="url" name="url" value="http://www.google.com/">
                        <input type="submit" id="submit-url" name="submit-url" value="Modifică">
                    </form>
                </div>

                <div id="profile-menu-horizontal-line"></div>

                <div class="settings-menu-row">
                    <h2>Modifică parola contului</h2>

                    {{!-- TODO: POST/PUT (update) the password --}}
                    <form method="put" action="/profile">
                        <input type="password" id="old-password" name="old-password" placeholder="Parola veche">
                        <input type="password" id="new-password" name="new-password" placeholder="Parola nouă">
                        <input type="submit" id="submit-url" name="submit-url" value="Modifică">
                    </form>
                </div>
            </div>
        </div>
     </div> 
 </div>