.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.create-btn-container {
    width: 100%;
    text-align: center;
}

.create-btn-container input {
    width: 200px;
}

span {
    margin-top: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 30px;
    color: #423788;
}

#submit_btn {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #423788;
    border-color: #423788;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
    padding: 0.3em;
    cursor: pointer;
}

.card-form {
    background-color: #c2bfe2;
    padding: 7px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
}

.card-form p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
}

.card-form input {
    margin-top: 10px;
    outline: 0;
    padding-left: 10px;
}

.name {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.nume-rec {
    font-size: 17px;
    font-weight: bold;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    height: 165px;
    width: 278px;
    border-radius: 10px;
    border: none;
    background-color: #423788;
    color: white;
    box-shadow: 2px 2px 4px #000000;
    margin-top: 30px;
    margin-left: 30px;
}

.add button:hover {
    background-color: #fd6191;
}



