.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#error-message {
    margin-top: 1em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: red;
    text-align: center;
    width: 80%;
    word-break: break-all;
}

#success-message {
    margin-top: 1em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: green;
    text-align: center;
    width: 80%;
    word-break: break-all;
}

.input-info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.tooltip {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;

    background-color: #000000;
    color: #ffffff;
    padding: 0.4em;
    margin-top: 8em;
    border-radius: 5px;
    width: 25em;

    position: relative;
    left: -3700%;
}

.view-action-button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em;
    color: #ffffff;
    background-color: #423788;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.view-action-button:hover {
    color: #423788;
    background-color: #fd6191;
}

div.tooltip > p:hover + div > p.tooltip-text {
    visibility: visible;
}

.delete-button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em;
    color: #ffffff;
    background-color: #423788;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.delete-button:hover {
    color: #423788;
    background-color: #fd6191;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#system-name-container {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

#system_name {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #423788;
    font-size: 18px;
    width: 30%;
}

.create-btn-container {
    width: 100%;
    text-align: center;
}

.label-container {
    margin-top: 3em;
    margin-bottom: 0.5em;
    width: 100%;
    text-align: center;
}

.label-container > label {
    color: #423788;
    font-size: 18px;
}

#title-container {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

span , #title-container > p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #423788;
}

#submit_btn {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #423788;
    border-color: #423788;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
    padding: 0.3em 3em;
    cursor: pointer;
}

#submit_btn:hover {
    color: #423788;
    background-color: #fd6191;
    border-color: #fd6191;
}

.card-form, .event-card-form {
    background-color: #c2bfe2;
    padding: 7px;
    margin-top: 2em;
    margin-left: 2em;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
}

.card-form p, .event-card-form p {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 17px;
}

.card-form input, .event-card-form input {
    margin-top: 0.6em;
    outline: 0;
    padding-left: 0.6em;
}

.card-form input[type="radio"], .event-card-form input[type="radio"] {
    margin-top: 0;
    margin-right: 0.3em;
}

.name {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.nume-rec {
    font-size: 17px;
    font-weight: bold;
}

.nume-rec-2 {
    font-size: 15px;
    font-weight: bold;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    background-color: #423788;
    color: white;
    box-shadow: 2px 2px 4px #000000;
    margin-top: 30px;
    margin-left: 30px;
}

.add:hover {
    color: #423788;
    background-color: #fd6191;
}

@media screen and (min-width: 847px) and (max-width: 999px) {
    #system_name {
        width: 20em;
    }
}

@media screen and (min-width: 650px) and (max-width: 846px) {
    #system_name {
        width: 20em;
    }

    .tooltip-text {
        left: -900%;
    }
}

@media screen and (min-width: 650px) and (max-width: 814px) {
    #system_name {
        width: 20em;
    }

    .tooltip-text {
        width: 15em;
        left: -900%;
    }
}

@media screen and (min-width: 531px) and (max-width: 649px) {
    #system_name {
        width: 20em;
    }

    #title-container {
        width: 90%;
        align-items: center;
        text-align: center;
    }
    
    .tooltip-text {
        width: 15em;
        left: -900%;
    }
}

@media screen and (min-width: 506px) and (max-width: 530px) {
    #system_name {
        width: 20em;
    }

    #title-container {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .card-form, .event-card-form {
        margin-left: 0;
    }

    .tooltip-text {
        width: 15em;
        left: -900%;
    }
}

@media screen and (min-width: 395px) and (max-width: 505px) {
    #system_name {
        width: 20em;
    }

    #title-container {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .card-form, .event-card-form {
        margin-left: 0;
    }

    .tooltip-text {
        width: 10em;
        left: -900%;
    }
}

@media screen and (max-width: 394px) {
    #system_name {
        width: 15em;
    }

    #title-container {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .card-form, .event-card-form {
        margin-left: 0;
    }

    .tooltip-text {
        width: 10em;
        left: -900%;
    }
}