#body-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#error-message-register {
    margin-bottom: 1em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: red;
}

#success-message-register {
    margin-bottom: 1em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: green;
}

#body-div > form > * {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #423788;
    margin: 0.3em 0;
}

#body-div > form > label {
    font-size: 18px;    
    margin-right: 0.3em;
}

#body-div > form > input[type="text"], #body-div > form > input[type="password"] {
    font-size: 18px;
    width: 100%;
}

#body-div > form > div {
    width: 100%;
    display: flex;
}

#body-div > form > div > input {
    margin: 0 auto;
    margin-top: 0.3em;
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    font-size: 18px;
    color: #ffffff;
    background-color: #423788;
    border-color: #423788;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
    min-width: 160px;
    min-height: 30px;
    cursor: pointer;
}

#body-div > form > div > input:hover {
    color: #423788;
    background-color: #fd6191;
    border-color: #fd6191;
}

@media screen and (max-width: 890px) {
    #body-div > form {
        width: 80%;
    }
}