body
{
    background-color: #026670;
    font-family:'Times New Roman', Times, serif;
}



/* Header */
body > header
{
    vertical-align: top;
    padding: 0px;
    font-size: 22px;
    display: grid;
    grid-column-gap: 20px;
    margin-top: 15px;
}


/* divLogo */
.divLogo
{
    grid-column-start: 1;
    grid-column-end: 2;
}

.divLogo > *
{
    margin-left: 20px;
}


/* divSearch */
.divSearch
{
    grid-column-start: 2;
    grid-column-end: 4;
    display : grid;
}

div.divSearch > *
{
    grid-row-start: 4;
    grid-row-end: 5;
}

div.divSearch > img
{
    display : block;
    margin-left: auto;
    padding: 0;
    padding-top: 3px;
    margin-right: 5px;
}

div.divSearch > input
{
    max-width: 700px;
    max-height: 30px;
    border-radius: 10px;
    background-color : #026670;
    color:#FCE181;
    border-color: #FCE181;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-indent: 5px;
    box-shadow: 2px 2px 4px #000000;
    text-shadow: 2px 2px 4px #000000;
}


/* divAuth */
.divAuth
{
    grid-column-start: 5;
    grid-column-end: 6;
    display : grid;
    grid-row-gap:10px;
}

.divAuth > *
{
    max-width: 130px;
    min-width: 130px;
    border-radius: 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    border-color:#FCE181;
    color:#FCE181;
    background-color:#026670;
    margin-left: auto;
    margin-right: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 2px 2px 4px #000000;
}


/* Footer */
body > footer
{
    vertical-align: bottom;
    padding: 0px;
    font-size: 14px;
    display: grid;
    grid-column-gap: 10px;
}

/* divInfos */
.divInfos
{
    grid-row-start: 1;
    grid-row-end: 2;
}

.divInfos > *
{
    margin-left: 20px;
    color: #FCE181;
    text-shadow: 2px 2px 4px #000000;
}

/* divSocial */
.divSocial
{
    grid-row-start: 1;
    grid-row-end: 2;
}

.divSocial > *
{
    text-shadow: 2px 2px 4px #000000;
}

/* divContact */
.divContact
{
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
}

.divContact > *
{
    margin-right: 31px;
    color: #FCE181;
    text-shadow: 2px 2px 4px #000000;
}

.divContact > #contactBtn
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    min-width: 110px;
    min-height: 25px;
    border-radius: 15px;
    background-color: #026670;
    border-color: #FCE181;
    box-shadow: 2px 2px 4px #000000;
}


/* Continutul din pagina */
.divBody
{
    background-color: #EDEAE5;
    padding: 0px;
    color: black;
    font-size: 16px;
}