<div style="flex-grow: 1;  margin-left: 5px; margin-right: 5px; padding: 20px">
    <div class="div-categories">
        <a class="flipping-card" href="/category/cars">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/car_icon.png" alt="" style="max-width: 80px; margin-top: 8%;">
                </div>
                <div class="flipping-card-back">
                    <p>Automobile și ambarcațiuni</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/cars">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/laptop_icon.png" alt="" style="max-width: 80px; margin-top: 6%;">
                </div>
                <div class="flipping-card-back">
                    <p>Laptopuri și calculatoare</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/cars">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/smartphone_icon.png" alt="" style="max-width: 80px; margin-top: 6%;">
                </div>
                <div class="flipping-card-back">
                    <p>Telefoane și tablete</p>
                </div>

            </div>
        </a>

        <a class="flipping-card" href="/category/cars">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/house_icon.png" alt="" style="max-width: 80px; margin-top: 5%;">
                </div>
                <div class="flipping-card-back">
                    <p>Inchirieri și vânzări apartamente</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/cars">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/furniture_icon.png" alt="" style="max-width: 80px; margin-top: 6%;">
                </div>
                <div class="flipping-card-back">
                    <p>Mobilier și electrocasnice</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/cars">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/others_icon.png" alt="" style="max-width: 80px; margin-top: 7%;">
                </div>
                <div class="flipping-card-back">
                    <p>Alte tipuri de produse</p>
                </div>
            </div>
        </a>
    </div>

    <hr class="line" style="grid-row-start:2; grid-row-end:3;">


    <div style="display: flex; flex-direction: column;">
        <div class="achievements-buttons-container">
            <button type="button" onclick="changeToSellers()" id="sellersAchievementsBtn"
                    class="achievements-menu-button">Vânzători
            </button>
            <button type="button" onclick="changeToBuyers()" id="buyersAchievementsBtn"
                    class="achievements-menu-button">Cumpărători
            </button>
        </div>

        <div class="divAchievements">
            <div id="sellers-achievements-container">
                <h3>Realizări ale vânzătorilor</h3>

                <div class="achievementList">
                    <div class="divAchievement">
                        <p style="margin-left: 4%;">Cele mai multe produse vândute în ultima lună</p>
                        <h3>Ion Ionescu - 100</h3>
                    </div>

                    <div class="divAchievement">
                        <p style="margin-left: 4%;">Cele mai multe țepe date în ultima lună</p>
                        <h3>Ion Ionescu - 20</h3>
                    </div>

                    <div class="divAchievement">
                        <p style="margin-left: 4%;">Cele mai multe review-uri primite în ultima lună</p>
                        <h3>Ion Ionescu - 524</h3>
                    </div>

                    <div class="divAchievement">
                        <p style="margin-left: 4%;">Cele mai multe mesaje primite pentru un singur produs listat</p>
                        <h3>Ion Ionescu - 24</h3>
                    </div>
                </div>
            </div>

            <div id="buyers-achievements-container">
                <h3>Realizări ale cumpărătorilor</h3>

                <div class="achievementList">
                    <div class="divAchievement">
                        <p style="margin-left: 4%;">Cele mai multe produse cumpărate în ultima lună</p>
                        <h3>Ion Ionescu - 100</h3>
                    </div>

                    <div class="divAchievement">
                        <p style="margin-left: 4%;">Cele mai multe țepe primite în ultima lună</p>
                        <h3>Ion Ionescu - 20</h3>
                    </div>

                    <div class="divAchievement">
                        <p style="margin-left: 4%;">Cele mai multe review-uri date în ultima lună</p>
                        <h3>Ion Ionescu - 524</h3>
                    </div>

                    <pre style="grid-row: 3 / 4; grid-column: 1 / 4;"></pre>
                    <pre style="grid-row: 4 / 5; grid-column: 1 / 4;"></pre>
                    <pre style="grid-row: 5 / 6; grid-column: 1 / 4;"></pre>
                </div>
            </div>

            <script style="display:none;">initAchievements();</script>
        </div>
    </div>
</div>
