<div style="flex-grow: 1;  margin-left: 5px; margin-right: 5px; padding: 20px">
    <div class="div-categories">
        <a class="flipping-card" href="/category/cars">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/car_icon.png" alt="" style="max-width: 80px; margin-top: 8%;">
                </div>
                <div class="flipping-card-back">
                    <p>Automobile și ambarcațiuni</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/laptops">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/laptop_icon.png" alt="" style="max-width: 80px; margin-top: 6%;">
                </div>
                <div class="flipping-card-back">
                    <p>Laptopuri și calculatoare</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/phones">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/smartphone_icon.png" alt="" style="max-width: 80px; margin-top: 6%;">
                </div>
                <div class="flipping-card-back">
                    <p>Telefoane și tablete</p>
                </div>

            </div>
        </a>

        <a class="flipping-card" href="/category/rents">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/house_icon.png" alt="" style="max-width: 80px; margin-top: 5%;">
                </div>
                <div class="flipping-card-back">
                    <p>Inchirieri și vânzări apartamente</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/furniture">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/furniture_icon.png" alt="" style="max-width: 80px; margin-top: 6%;">
                </div>
                <div class="flipping-card-back">
                    <p>Mobilier și electrocasnice</p>
                </div>
            </div>
        </a>

        <a class="flipping-card" href="/category/others">
            <div class="flipping-card-content">
                <div class="flipping-card-front">
                    <img src="./assets/images/others_icon.png" alt="" style="max-width: 80px; margin-top: 7%;">
                </div>
                <div class="flipping-card-back">
                    <p>Alte tipuri de produse</p>
                </div>
            </div>
        </a>
    </div>

    <hr class="line" style="grid-row-start:2; grid-row-end:3;">


    <div style="display: flex; flex-direction: column;">

        <div class="divAchievements">
            <div id="achievements-container">
                <div class="top">Topul utilizatorilor</div>

                {{#if topUsers}}
                    <div class="achievementList">
                        {{#each topUsers}}
                            <div class="divAchievement">
                                <h3>{{this.index}}. {{this.user}} --> Scor: {{this.score}}</h3>
                            </div>
                        {{/each}}
                    </div>
                {{else}}
                    <p style="margin-left: auto; margin-right: auto; color:#474747">Datele nu sunt disponibile
                        momentan.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
