<div style="flex-grow: 1">
    <div class="container">
        <div class="form-box">
            <div class="login-register-box">
                <button
                        type="button"
                        id="logbtn"
                        class="toggle btn"
                        onclick="logBtn()"
                >
                    Autentificare
                </button>
                <button type="button" id="regbtn" class="toggle" onclick="regBtn()">
                    Înregistrare
                </button>
            </div>
            <form method="POST" action="/login" class="login-form" id="log-form">
                <input
                        id="emailLog"
                        type="text"
                        placeholder="Adresa de email"
                        name="emailLog"
                        required
                />
                <input
                        id="passLog"
                        type="text"
                        class="login-pass"
                        placeholder="Parola"
                        name="passLog"
                        required
                />

                <div class="checkbox-group">
                    <label for="remember">Reține autentificarea</label>
                    <input type="checkbox" class="check-box" id="remember"/>
                </div>

                <button type="submit" class="submit-btn">Autentificare</button>

                <a href="#" class="forgot-pass">Mi-am pierdut parola</a>
            </form>

            <form method="POST" action="/register" class="login-form" id="reg-form">
                <input type="text" id="nameReg" placeholder="Numele" name="nameReg" required/>
                <input
                        id="emailReg"
                        type="text"
                        placeholder="Adresa de email"
                        name="emailReg"
                        required
                />
                <input
                        id="passReg"
                        type="text"
                        class="register-pass"
                        placeholder="Parola"
                        name="passReg"
                        required
                />
                <input
                        id="confirmReg"
                        type="text"
                        class="register-pass"
                        placeholder="Confirmarea parolei"
                        name="confirmReg"
                        required
                />

                <div class="checkbox-group">
                    <label for="agree-conditions"
                    >Sunt de acord cu prelucrarea informațiilor de către "IaȘi
                        cumpără!"</label
                    >
                    <input type="checkbox" class="check-box" id="agree-conditions"/>
                </div>

                <button type="submit" class="submit-btn">Înregistrare</button>
            </form>
        </div>
    </div>
</div>