<div style="display: flex; justify-self: center; align-self: center; width: 90%; height: 90%; justify-content: center; align-items: center; flex-direction: column">
    <p style="font-size: 3vh; text-align: center;">
        404 Not Found. Pagina pe care încerci să o accesezi nu există, încearcă alta!
    </p>
</div>