<div style="display: flex; justify-self: center; align-self: center; width: 90%; height: 90%; justify-content: center; align-items: center; flex-direction: column">
    <p style="font-size: 3vh; text-align: center">
        Se pare că am întâmpinat o problemă. Te rugăm să încerci din nou mai târziu!
    </p>
</div>