<div style="display: flex; 
    justify-self: center; 
    align-self: center; 
    width: 90%; 
    height: 90%; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column">
    <p style="font-size: 3vh; text-align:center">
        Te-ai înregistrat cu succes! Acum te poți autentifica!
    </p>
    <button style="background: linear-gradient(to right, #10ffb7, #06b8ff);
        border-radius: 20px;
        transition: 0.5s; width: fit-content;
        padding: 10px 30px;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        position: relative;
        border: 0;
        outline: none;" onclick="location.href = '/login'"> Autentificare </button>
</div>