<HTML>
<head>
    <title>Admin Pannel</title>
    <link rel="stylesheet" href="../../styles/admin-add-gamification-system.css">

</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL - Gamification Systems</a>
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="/admin/gamification-systems" class="gamification-systems"> View All </a>
            <a href="" class="add-gamification-system"> Add </a>
        </div>
        <div class="content">
            <div class="form">
                <form method="post">
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" required><br>
                    <label for="userId">UserID</label><br>
                    <input type="text" id="userId" name="userId" required><br>
                    <label for="api-key">ApiKey</label><br>
                    <input type="text" id="api-key" name="api-key" required><br>

                    <button class="add-btn">Add</button>
                </form>

            </div>
        </div>
    </div>
</div>

</body>

</HTML>