<HTML>
<head>
    <title>Admin Panel</title>
    <link rel="shortcut icon" href="#">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/styles/admin-home.css">
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL - HOME</a>
    </div>
    <div class="box">
        <h1>Select the table:</h1> <br>
        <a href="/admin/users" class="table"> Users </a>
        <a href="/admin/gamification-systems" class="table"> Gamification Systems </a>
        <a href="/admin/gamification-rewards" class="table"> Gamification Rewards</a>
        <a href="/admin/gamification-events" class="table"> Gamification Events </a>
        <a href="/admin/tokens" class="table"> Tokens </a>
        <a href="/admin/user-data" class="table"> User Data </a>
        <a href="/admin/contact" class="table"> Contact messages </a>

    </div>
</div>
</body>
</HTML>