<HTML>
<head>
    <title>Admin Pannel</title>
    <link rel="stylesheet" href="../styles/admin.css"
</head>
<body>
<div class="container">
    <div class="top-nav">
        <a href=""> ADMIN PANEL </a>
    </div>
    <div class="box">
        <div class="side-nav">
            <a href="" class="user"> View users </a>
            <a href="/admin/add" class="add-user"> Add user </a>
        </div>

        <div class="content">
            <div class="users-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>URL</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>836+</td>
                        <td>^$#~</td>
                        <td>79XP5996%^9qfonm836V^$#^</td>
                        <td>R79XPZ%3$WZ*)7RRI!%%2</td>
                        <td>
                            <button>Delete</button>
                            <button>Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</HTML>