@media screen and (max-width: 500px) {
  .my_profile_box {
    width: 100%;
    height: 100%;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .my_profile_box input {
    width: 100%;
  }

  .my_profile_box select {
    width: 100%;
  }

  .savebtn {
    width: 100%;
    height: 40px;
  }

  .setari_imagine {
    width: 100%;
  }

  .change_photo_btn {
    height: 27px;
  }

  .delete_photo_btn {
    height: 27px;
  }

  .my_menu_box {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .menu_buttons {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .menu_buttons button {
    border-right: 1px solid rgb(201, 201, 201);
    background-color: rgb(239, 246, 247);
  }
  .menu_buttons span {
    display: none;
  }
}
