.buyers-profiles
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buyer-profile
{
    margin: 0;
    margin-bottom: 10px;
    border: 2px dotted #00458B;
    border-radius: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    color: #000000;
    text-decoration: none;
    box-shadow: 4px 4px 4px #000000;
    transition: transform .2s;
    background-color: #ffffff;
}

.buyer-profile:hover
{
    transform: scale(1.02);
}

#buyers-message
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; 
    font-weight: bold;
}

.buyer-name
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 18px; 
    font-weight: bold;
    margin: 0 10px;
}

.buyer-date
{
    margin-left: auto; 
    margin-right: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 16px; 
    color:#bdbbbb;
}