* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f3f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
  }
  
  .form-box {
    width: 500px;
    position: relative;
    margin: 2% auto;
    background: #fff;
    padding: 10px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    box-shadow: 1px 0.5px 0.5px#ff33241f;
    border-color: darkblue;
  }
  
  .login-register-box {
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 10px #ff61241f;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle {
    padding: 10px 30px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    background: transparent;
    white-space: nowrap;
    position: relative;
    border: 0;
    outline: none;
  }
  
  .btn {
    background: linear-gradient(to right, #10ffb7, #06b8ff);
    border-radius: 20px;
    transition: 0.5s;
  }
  
  .login-form {
    margin-top: 35px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-form input {
    padding: 8px;
    border: none;
    border-bottom: 1px solid grey;
    width: calc(100% - 16px);
    margin-top: 15px;
  }
  
  .login-form input:focus {
    outline: none;
    border-bottom: 2px solid grey;
  }
  
  .submit-btn {
    width: 100%;
    padding: 7px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to right, #10ffb7, #06b8ff);
    transition: 0.25s all ease;
  }
  
  .submit-btn:hover {
    box-shadow: 0 0 20px 10px rgba(20, 74, 145, 0.14);
  }
  
  .checkbox-group {
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
  }
  
  .checkbox-group input {
    width: 13px;
    min-width: 13px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 0;
  }
  
  .checkbox-group label {
    font-size: 12px;
    user-select: none;
    cursor: pointer;
  }
  
  .forgot-pass {
    margin-top: 35px;
    font-size: 13px;
    text-align: center;
    color: rgb(50, 100, 167);
    text-decoration: none;
    display: block;
  }
  
  #reg-form {
    display: none;
  }
  