<footer>
    <div>
        <button class="button button1" onclick="scrollToTop()" style="justify-self: flex-start; align-self: center;">
            &#x25B2;
        </button>
    </div>
    <span style="font-size: 2vh; margin: 10px; color: white;">&copy; Luciana Bejan, Mircea Sofrone, Alin Ursu</span>
</footer>

<script src="../js/header_footer.js"></script>
{{#each scripts}}
    <script src="../js/{{this}}.js"></script>
{{/each}}

</body>
</html>