<footer>
    <div style="justify-self: flex-start; align-self: flex-start;">
        <button class="button button1" onclick="scrollToTop()" style="justify-self: flex-start; align-self: center;">
            &#x25B2;
        </button>
    </div>
    <span style="margin: 10px; color: white; align-self: flex-end; justify-self: flex-end;">&copy; Luciana Bejan, Mircea Sofrone, Alin Ursu</span>
</footer>
<script src="./js/header_footer.js"></script>

{{#each scripts}}
    <script src="./js/{{this}}.js"></script>
{{/each}}

</body>
</html>