<header id="header">
    <div id="logo-navbar-div">
        <div id="logo">
            <img src="/images/common/logo_white.png" style="max-width: 50px" alt="">
            <a href="/" id="logo-text">GamS</a>
        </div>
        
        <nav id="navbar">
            <button type="button" onclick="" class="navbar-button">
                <a href="/#services-anchor" class="navbar-clickable-button">SERVICII</a> 
            </button>
            <button type="button" onclick="" class="navbar-button">
                <a href="/#documentation-anchor" class="navbar-clickable-button">DOCUMENTAȚIE</a>
            </button>
            <button type="button" onclick="" class="navbar-button">
                <a href="/#contact-anchor" class="navbar-clickable-button">CONTACTEAZĂ-NE</a>
            </button>

            <div class="vertical-line"></div>
            
            {{!-- TODO: Depending on the account the user is logged in, generate the profile page --}}
            <div>
                <a href="/profile"><img alt="" src="/images/profile-white.png"></a>
                <a href="/profile">Ion Ionescu</a>
            </div>
            {{!-- TODO: Add functionality to the logout button --}}
            <button type="button" class="navbar-button">
                <a href="/" class="navbar-clickable-button">DECONECTARE</a>
            </button>
            

        </nav>

        <div id="burgermenu-div">
            <button type="button" id="burgermenu" onclick="openBurgermenu()">&#9776;</button>

            <div id="sidenav">
                <button type="button" class="burgermenu-button" onclick="closeBurgermenu()">X</button>
                <button type="button" class="burgermenu-button" onclick="location.href = '/#services-anchor'">SERVICII</button>
                <button type="button" class="burgermenu-button" onclick="location.href = '/#documentation-anchor'">DOCUMENTAȚIE</button>
                <button type="button" class="burgermenu-button" onclick="location.href = '/#contact-anchor'">CONTACTEAZĂ-NE</button>
                
                <div id="horizontal-line-burgermenu"></div>
                
                {{!-- TODO: Depending on the account the user is logged in, generate the profile page --}}
                <div>
                    <a href="/profile"><img alt="" src="/images/profile-white.png"></a>
                    <a href="/profile">Ion Ionescu</a>
                </div>
                {{!-- TODO: Add functionality to the logout button --}}
                <button type="button" class="navbar-button">
                    <a href="/" class="navbar-clickable-button">DECONECTARE</a>
                </button>
            </div>
        </div>
    </div>
</header>